# Name of the environment, used mainly for Sentry logging
## Possible values: dev, test, prod
ENVIRONMENT=dev

# Path of the Joomla directory to connect to, used for Joomla classes such as login. 
## Possible values: "C:\\xampp\\htdocs" (Windows), "/Applications/XAMPP/xamppfiles/htdocs/" (Mac)
JPATH_BASE="C:\\xampp\\htdocs"

# No database variable definition required; TC-app uses the Joomla configuration.php file to connect to the DB. 
