# Name of the environment, used mainly for Sentry logging
## Possible values: dev, test, prod
ENVIRONMENT=dev

# Path of the Joomla directory to connect to, used for Joomla classes such as login. 
## Possible values: "C:\\xampp\\htdocs" (Windows), "/Applications/XAMPP/xamppfiles/htdocs/" (Mac)
# JPATH_BASE=C:\\xampp\\htdocs

DB_HOST=mysql_db
DB_USER=wordpress
DB_PWD=wordpress
DB_NAME=wordpress

WORDPRESS_PATH=/app


# We define the database to be able to decouple from Joomla
