<html>
  <head>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="test.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/angular-route/angular-route.min.js"></script>

    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/ng-dialog/js/ngDialog.min.js"></script>
    <script src="./node_modules/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
    <script src="./node_modules/jquery-ui-bundle.1.12.1/jquery-ui.min.js"></script>

    <link
      rel="stylesheet"
      href="./node_modules/jquery-ui-bundle.1.12.1/jquery-ui.min.css"
    />

    <link
      rel="stylesheet"
      href="./node_modules/font-awesome/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="./node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <link
      rel="stylesheet"
      href="./node_modules/ng-dialog/css/ngDialog.min.css"
    />
    <link
      rel="stylesheet"
      href="./node_modules/ng-dialog/css/ngDialog-theme-default.min.css"
    />
    <link
      rel="stylesheet"
      href="./node_modules/angular-ui-notification/dist/angular-ui-notification.min.css"
    />
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />

    <script src="./app.js"></script>
    <!--Controllers-->
    <script src="./controllers/mainController.js"></script>
    <script src="./controllers/addTeam/addTeamController.js"></script>
    <script src="./controllers/addPlayer/addPlayerController.js"></script>
    <script src="./controllers/login/loginController.js"></script>
    <script src="./controllers/editTeamOrder/editTeamOrderController.js"></script>
    <script src="./controllers/editTrainingSchedule/editTrainingScheduleController.js"></script>

    <!--Directives-->
    <script src="./directives/ngEnterDirective.js"></script>
    <script src="./directives/player/playerDirective.js"></script>
    <script src="./directives/searchBar/searchBarDirective.js"></script>
    <script src="./directives/groups/groupsDirective.js"></script>
    <script src="./directives/legenda/legendaDirective.js"></script>
    <!--Services-->
    <script src="./services/IOService.js"></script>
    <script src="./services/playerService.js"></script>
    <script src="./services/changeService.js"></script>
    <script src="./services/dataListsService.js"></script>
    <script src="./services/loginService.js"></script>
    <script src="./services/utilityService.js"></script>
    <script src="./services/dragDropService.js"></script>
  </head>

  <body
    ng-app="tcApp"
    style="float: left; width: 100vw;"
    ng-controller="mainController"
    ng-ctrl-save=""
  >
    <div
      style="
        width: 50px;
        float: left;
        height: 100vh;
        background-color: #337ab7;
      "
    >
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Teams/Trainingsgroepen"
        ng-click="isTeamsActive = !isTeamsActive"
        class="btn side-menu-button btn-primary"
        aria-label="Left Align"
        ng-class="[{'btn-info': isTeamsActive, 'btn-success': !isTeamsActive}]"
      >
        <i class="fa fa-group"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Zoeken (Ctrl + F)"
        ng-click="openSearchDialog()"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
      >
        <i class="fa fa-search"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Opslaan (Ctrl + S)"
        ng-click="SaveChanges()"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
      >
        <i class="fa fa-floppy-o"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Refresh (Ctrl + R)"
        ng-click="Refresh()"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
      >
        <i class="fa fa-refresh"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Team Toevoegen"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="addTeam()"
      >
        <i class="fa fa-plus"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Speler Toevoegen"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="addPlayer()"
      >
        <i class="fa fa-user-plus"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Team volgorde"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="SetOrder()"
      >
        <i class="fa fa-sort"></i>
      </button>
      <a
        href="php/downloadExport.php"
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Exporteren"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
      >
        <i class="fa fa-file-excel-o"></i>
      </a>
      <a
        href="php/Ledenlijst.php"
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Ledenlijst"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
      >
        <i class="fa fa-list-ol"></i>
      </a>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Trainingsinformatie"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="OpenTrainingScheduleDialog()"
      >
        <i class="fa fa-calendar"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="Legenda (Ctrl + L)"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="isLegendaVisible = !isLegendaVisible"
      >
        <i class="fa fa-info-circle"></i>
      </button>
      <button
        type="button"
        data-toggle="tooltip"
        data-placement="right"
        title="(Opnieuw) inloggen"
        class="btn btn-primary side-menu-button"
        aria-label="Left Align"
        ng-click="login()"
      >
        <i class="fa fa-sign-in"></i>
      </button>
    </div>
    <groups ng-if="loginService.isLoggedIn()"></groups>
    <search-bar ng-show="isSearchBarOpen" class="search-bar"></search-bar>
    <player ng-show="selectedPlayer != null" class="player"></player>
    <legenda ng-if="isLegendaVisible" class="legenda"></legenda>
  </body>
</html>
